<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pricing Table</title>
</head>

<body>
    <div class="container">
        <h2>Pricing Toggle 1</h2>
        <div class="toggle-menu">
            <button>Monthly</button>
            <button>Annualy</button>
        </div>
        <div class="container-prices">
            <div class="options-box">
                <h3>Basic</h3>
                <div class="options-icon">

                </div>
                <div class="options-price">
                    <p>$39</p>
                    <p>/Monthly</p>
                </div>
                <ul>
                    <li>1 Gb Diskspace</li>
                    <li>10 Gb Bandwith</li>
                    <li>2 Email Address</li>
                    <li> WordPress Installs</li>
                    <li>Private Support</li>
                </ul>
                <button>Sign Up</button>
            </div>
            <div class="options-box">
                <h3>Premium</h3>
                <div class="options-icon">

                </div>
                <div class="options-price">
                    <p>$49</p>
                    <p>/Monthly</p>
                </div>
                <ul>
                    <li>5 Gb Diskspace</li>
                    <li>50 Gb Bandwith</li>
                    <li>4 Email Address</li>
                    <li>WordPress Installs</li>
                    <li>Private Support</li>
                </ul>
                <button>Sign Up</button>
            </div>
            <div class="options-box">
                <h3>Business</h3>
                <div class="options-icon">

                </div>
                <div class="options-price">
                    <p>$59</p>
                    <p>/Monthly</p>
                </div>
                <ul>
                    <li>20 Gb Diskspace</li>
                    <li>100 Gb Bandwith</li>
                    <li>10 Email Address</li>
                    <li> WordPress Installs</li>
                    <li>Private Support</li>
                </ul>
                <button>Sign Up</button>
            </div>
        </div>
    </div>
</body>

</html>